@model Homiee.Models.AllPostViewModel

@{

    Layout = null;


}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, Nice lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, Nice admin lite design, Nice admin lite dashboard bootstrap 5 dashboard template">
    <meta name="description"
          content="Nice Admin Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>Homiee</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/niceadmin-lite/" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Template/Host/assets/images/favicon.png">
    <!-- Custom CSS -->
    <link href="~/Template/Host/dist/css/style.min.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Bootstrap core CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link href="~/Template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Template/assets/css/templatemo-plot-listing.css" rel="stylesheet" />
    <link href="~/Template/assets/css/owl.css" rel="stylesheet" />
    <link href="~/Template/assets/css/fontawesome.css" rel="stylesheet" />
    <link href="~/Template/assets/css/animated.css" rel="stylesheet" />
    <style>
        .section-allpost {
            margin-left: 300px;
        }

        .post-img {
            width: 200px;
            display: inline-block;
        }

        .post-content {
            display: inline-block;
        }

       
        .edrd {
            padding-left: 70%;
        }

    </style>
</head>


<body>

    <div id="main-wrapper" data-navbarbg="skin6" data-theme="light" data-layout="vertical" data-sidebartype="full"
         data-boxed-layout="full">

        @Html.Partial("_HostSideBar",Model.GetNewNotification)


        <h4>Post</h4>

        <section class="section-allpost">
            @foreach (var x in Model.hostPostInfos.ToList())
            {
            <div class="card w-75">
                <div class="card-body d-flex align-items-center">
                    <div class="post-img" style="margin-right:100px">
                        <a href="#"><img src=@Url.Content(x.AddFile) alt=""></a>
                    </div>
                    <div class="post-content">
                        <h4># @x.Title</h4>
                        @*<p>Price: @x.Price (@x.PaymentType)</p>*@
                        @if (x.PaymentType == 0)
                        {
                            <p>Price: @x.Price (Per Day)</p>
                        }
                        @if (x.PaymentType == 1)
                        {
                            <p>Price: @x.Price (Per Month)</p>
                        }
                        <span>@x.StreetName,</span><span>@x.CityName,</span><span>@x.CountryName.</span>
                        <p>Offer: @x.Offer</p>
                        <p>Caption: @x.RoomCaption</p>
                        <p>Rules: @x.HostRules</p>
                    </div>
                </div>
                <div class="edrd">
                    @Html.ActionLink("Edit", "Edit", new { id = x.HostPostInfoID }, new { @class = "btn btn-success text-white" }) |
                    @Html.ActionLink("Detailsss", "DetailsOffice", new { id = x.HostPostInfoID }, new { @class = "btn btn-primary text-white" }) |
                    @*@Html.ActionLink("Reviews", "Reviews", new { id = x.HostPostInfoID }, new { @class = "btn btn-dark text-white" }) |*@
                    @Html.ActionLink("Delete", "Delete", new { id = x.HostPostInfoID }, new { @class = "btn btn-danger text-white" })
                </div>
            </div>
                
            }

            @foreach (var x in Model.hostOfficePosts.ToList())
            {
        <div class="card w-75">
            <div class="card-body d-flex align-items-center">
                <div class="post-img" style="margin-right:100px">
                    <a href="#"><img src=@Url.Content(x.AddFile) alt=""></a>
                </div>
                <div class="post-content">
                    <h4># @x.Title</h4>
                    @*<p>Price: @x.Price (@x.PaymentType)</p>*@
                    @if (x.PaymentType == 0)
                    {
                        <p>Price: @x.Price (Per Day)</p>
                    }
                    @if (x.PaymentType == 1)
                    {
                        <p>Price: @x.Price (Per Month)</p>
                    }
                    <span>@x.StreetName,</span><span>@x.CityName,</span><span>@x.CountryName.</span>
                    <p>Offer: @x.Offer</p>
                    <p>Caption: @x.RoomCaption</p>
                    <p>Rules: @x.HostRules</p>
                </div>
            </div>
            <div class="edrd">
                @Html.ActionLink("Edit", "Edit", new { id = x.HostOfficePostID }, new { @class = "btn btn-success text-white" }) |
                @Html.ActionLink("Details", "DetailsOffice", new { id = x.HostOfficePostID }, new { @class = "btn btn-primary text-white" }) |
                @*@Html.ActionLink("Reviews", "Reviews", new { id = x.HostOfficePostID }, new { @class = "btn btn-dark text-white" }) |*@
                @Html.ActionLink("Delete", "Delete", new { x.HostOfficePostID }, new { @class = "btn btn-danger text-white" })
            </div>
        </div>
                
            }
        </section>

        @Html.Partial("_HostFooter")

    </div>


    <script src="~/Template/Host/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/Template/Host/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/Template/Host/assets/extra-libs/sparkline/sparkline.js"></script>

    <!--Wave Effects -->
    <script src="~/Template/Host/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/Template/Host/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->

</body>
