@model Homiee.Models.SignInModelHosts

@{
    Layout = null;

    var check = Model.Host.UserEmail;


}



<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <title>Plot Listing Page</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Additional CSS Files -->

    <link rel="stylesheet" href="~/Template/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/Template/assets/css/templatemo-plot-listing.css">
    <link rel="stylesheet" href="~/Template/assets/css/animated.css">
    <link rel="stylesheet" href="~/Template/assets/css/owl.css">
    <link href="~/Content/signup-main.css" rel="stylesheet" />
    <link href="~/Template/vendor/select2/select2.min.css" rel="stylesheet" />
    <link href="~/Template/vendor/datepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/Template/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" />

    <style>
        .title {
            display: inherit;
            margin-bottom: 50px;
            font-family: 'Lobster', cursive;
            font-size: 100px;
            color: #9EAAEB;
        }

        .card-option {
            text-align: center;
            height: 400px;
            border-radius: 30px;
        }

        .host-card-bg {
            background-image: url("../../Images/hostBG.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .hotel-card-bg {
            background-image: url("../../Images/hotelBG.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        button {
            width: 150px;
            height: 50px;
            cursor: pointer;
            border: none;
            align-items: center;
            justify-content: center;
            background-color: #9EAAEB;
            color: black;
            background-image: linear-gradient(315deg, #ffff 0%, rgba(255,255,255,0.5) 74%);
            background-size: 200% 100%;
            background-position: left;
            background-repeat: no-repeat;
            transition: 500ms;
            border: 2px solid grey;
        }

            button:before {
                color: rgba(255,255,255,0.5);
                font-size: 16px;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 140px;
                height: 40px;
                background-color: #1b2845;
                background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
                transition: 500ms;
            }

            button:hover {
                background-position: right;
            }

                button:hover:before {
                    color: #fff;
                }

            button:focus {
                outline: none;
            }
    </style>


</head>

<body>


    @Html.Partial("_Preloader")
    @Html.Partial("_navbar")


    <div class="main-banner">

        <div class="container">
            <div class="row justify-content-center">

                <div class="col-md-6">
                    <div class="card card-option host-card-bg">
                        <div class="card-body">
                            <label class="title">Host</label>
                            <button onClick="handleHostRegActive()">Get Started</button>
                        </div>

                    </div>

                </div>

                <div class="col-md-6">
                    <div class="card card-option hotel-card-bg">
                        <div class="card-body">
                            <label class="title">Hotel</label>
                            <button onClick="handleHotelRegActive()">Get Started</button>
                        </div>
                    </div>

                </div>

            </div>


        </div>
    </div>
    <div class="container" id="form-section-host">

        @using (Html.BeginForm("SignUp", "Host", FormMethod.Post))
        {
            <div class="page-wrapper p-t-130 p-b-100 font-poppins">
                <div class="wrapper wrapper--w680">
                    <div class="card card-4">
                        <div class="card-body">
                            <h2 class="top-text header-text">
                                Registration Form
                            </h2>
                            <hr />

                            @Html.ValidationSummary()

                            <div class="form-group">
                                <label for="UserEmail">Email</label>
                                <div class="col-md-10">

                                    @Html.TextBox("UserEmail", "", new { type = "email", placeholder = "example@mail.ru", @class = "form-control valid", @data_val = "true", @data_val_required = "Email Field is Invalid" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="UserPassword">Password</label>
                                <div class="col-md-10">
                                    @Html.TextBox("UserPassword", "", new { type = "password", @class = "form-control valid", @data_val = "true", @data_val_required = "Invalid password!" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="UserConfirmPassword">Confirm Password</label>
                                <div class="col-md-10">
                                    @Html.TextBox("UserConfirmPassword", "", new { type = "password", @class = "form-control valid", @data_val = "true", @data_val_required = "Password doesn't match" })
                                    <p id="conPasswordErrMsgHost" class="text-danger">Password doesn't match!</p>

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="UserFirstName">First Name</label>
                                <div class="col-md-10">
                                    @Html.TextBox("UserFirstName", "", new { type = "text", @class = "form-control valid", @data_val = "true", @data_val_required = "First Name field is empty!" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="UserLastName">Last Name</label>
                                <div class="col-md-10">
                                    @Html.TextBox("UserLastName", "", new { type = "text", @class = "form-control valid", @data_val = "true", @data_val_required = "Last Name field is empty!" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="UserPhone">Phone</label>
                                <div class="col-md-10">
                                    @Html.TextBox("UserPhone", "", new { type = "number", @class = "form-control valid", @data_val = "true", @data_val_required = "Phone field is empty!" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="AddressCountry">Country</label>
                                <div class="col-md-10">
                                    @Html.TextBox("AddressCountry", "", new { type = "text", @class = "form-control valid", @data_val = "true", @data_val_required = "Country field is empty!" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="AddressDivision">Division</label>
                                <div class="col-md-10">
                                    @Html.TextBox("AddressDivision", "", new { type = "text", @class = "form-control valid", @data_val = "true", @data_val_required = "Division field is empty!" })

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="AddressCity">City</label>
                                <div class="col-md-10">
                                    @Html.TextBox("AddressCity", "", new { type = "text", @class = "form-control valid", @data_val = "true", @data_val_required = "City field is empty!" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="AddressArea">Area</label>
                                <div class="col-md-10">
                                    @Html.TextBox("AddressArea", "", new { type = "text", @class = "form-control valid", @data_val = "true", @data_val_required = "Area field is empty!" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="AddressExtension">Address Extension</label>
                                <div class="col-md-10">
                                    @Html.TextBox("AddressExtension", "", new { type = "text", @class = "form-control valid", @data_val = "true", @data_val_required = "Address Extension field is empty!" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-2 col-md-10">
                                    <input type="submit" value="Submit" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="container" id="form-section-hotel">

        @using (Html.BeginForm("SignUp", "Hotel", FormMethod.Post))
        {
            <div class="page-wrapper p-t-130 p-b-100 font-poppins">
                <div class="wrapper wrapper--w680">
                    <div class="card card-4">
                        <div class="card-body">
                            <h2 class="top-text header-text">
                                Registration Form
                            </h2>
                            <hr />
                            @Html.ValidationSummary()
                            <div class="form-group">
                                <label for="HotelName">Hotel Name</label>
                                <div class="col-md-10">
                                    @Html.TextBox("HotelName", "", new { type = "text", @class = "form-control valid", @data_val = "true", @data_val_required = "Hotel Name field is empty!" })

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="HotelManager">Hotel Manager</label>
                                <div class="col-md-10">
                                    @Html.TextBox("HotelManager", "", new { type = "text", @class = "form-control valid", @data_val = "true", @data_val_required = "Hotel Manager field is empty!" })

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="HoteManagerPhone">Manager Phone</label>
                                <div class="col-md-10">
                                    @Html.TextBox("HoteManagerPhone", "", new { type = "number", @class = "form-control valid", @data_val = "true", @data_val_required = "Hotel Manager field is empty!" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="HotelEmail">Email</label>
                                <div class="col-md-10">
                                    @Html.TextBox("HotelEmail", "", new { type = "email", @class = "form-control valid", @data_val = "true", @data_val_required = "Hotel Email field is empty!" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="HotelPassword">Password</label>
                                <div class="col-md-10">
                                    @Html.TextBox("HotelPassword", "", new { type = "password", @class = "form-control valid", @data_val = "true", @data_val_required = "Hotel Password Invalid!" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="HotelConfirmPassword">Confirm Password</label>
                                <div class="col-md-10">
                                    @Html.TextBox("HotelConfirmPassword", "", new { type = "password", @class = "form-control valid", @data_val = "true", @data_val_required = "Hotel Confirm Password Invalid!" })
                                    <p id="conPasswordErrMsgHotel" class="text-danger">Password doesn't match!</p>

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="HotelTradeLicenseNo">Trade License No</label>
                                <div class="col-md-10">
                                    @Html.TextBox("HotelTradeLicenseNo", "", new { type = "text", @class = "form-control valid", @data_val = "true", @data_val_required = "Hotel Trade License No Invalid!" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2 col-md-10">
                                    <input type="submit" value="Submit" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <script>

        var hotelRegSection = document.getElementById("form-section-hotel");
        var hostRegSection = document.getElementById("form-section-host");
        var hostPassword = document.getElementById("UserPassword");
        var hostConPassword = document.getElementById("UserConfirmPassword");
        var validationConPassHost = document.getElementById("conPasswordErrMsgHost");

        var hotelPassword = document.getElementById("HotelPassword");
        var hotelConPassword = document.getElementById("HotelConfirmPassword");
        var validationConPassHotel = document.getElementById("conPasswordErrMsgHotel");

        validationConPassHotel.style.display = "none";
        hotelConPassword.onkeyup = ConfirmPasswordValidationHotel;

        validationConPassHost.style.display = "none";
        hostConPassword.onkeyup = ConfirmPasswordValidationHost;

        function ConfirmPasswordValidationHost() {
            var text = new String(hostPassword.value);
            var text1 = new String(hostConPassword.value);
            console.log(text1 + " " + text);
            if (text.trim() === text1.trim()) {
                validationConPassHost.style.display = "none";
            }
            else {
                validationConPassHost.style.display = "block";

            }
        }

        function ConfirmPasswordValidationHotel() {
            var text = new String(hotelPassword.value);
            var text1 = new String(hotelConPassword.value);
            console.log(text1 + " " + text);
            if (text.trim() === text1.trim()) {
                validationConPassHotel.style.display = "none";
            }
            else {
                validationConPassHotel.style.display = "block";

            }
        }



        hostRegSection.style.display = "none";
        hotelRegSection.style.display = "none";

        function handleHostRegActive() {
            hotelRegSection.style.display = "none";
            hostRegSection.style.display = "block";
            hostRegSection.scrollIntoView();
        }

        function handleHotelRegActive() {
            hostRegSection.style.display = "none";
            hotelRegSection.style.display = "block";
            hotelRegSection.scrollIntoView();
        }





    </script>






    @Html.Partial("_Footer")

    <script src="~/Template/vendor/jquery/jquery.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Template/assets/js/owl-carousel.js"></script>
    <script src="~/Template/assets/js/animation.js"></script>
    <script src="~/Template/assets/js/imagesloaded.js"></script>
    <script src="~/Template/assets/js/custom.js"></script>

    <script src="~/Template/vendor/datepicker/daterangepicker.js"></script>
    <script src="~/Template/vendor/datepicker/moment.min.js"></script>
    <script src="~/Template/vendor/select2/select2.min.js"></script>
    <script src="~/Scripts/global.js"></script>
</body>
