@model Homiee.Models.LoginUser

@using Homiee.Models
@{
    ViewBag.Title = "Login";
    var errMsg = ViewBag.errorMsgLogin;
    Layout = null;
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Plot Listing HTML5 Website Template</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/Template/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/Template/assets/css/templatemo-plot-listing.css">
    <link rel="stylesheet" href="~/Template/assets/css/animated.css">
    <link rel="stylesheet" href="~/Template/assets/css/owl.css">
    <link href="~/Content/login-main.css" rel="stylesheet" />
    <link href="~/Content/login-util.css" rel="stylesheet" />
    <link href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>

<body>
    @Html.Partial("_Preloader")
    @Html.Partial("_navbar")
    <div class="main-banner">
        <div class="limiter">
            <div class="container-login100 ">
                <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="login100-form validate-form flex-sb flex-w">
                            <span class="login100-form-title p-b-32  header-text">
                                Account Login
                            </span>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div>
                                    @Html.DropDownListFor(model => model.UserCategory,
                                        new SelectList(Enum.GetValues(typeof(Category))),
                                        "Select Category", new { @class = "form-select" })
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10 wrap-input100 validate-input m-b-12">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input100" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10 wrap-input100 validate-input m-b-12">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "input100" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="flex-sb-m w-full p-b-48">
                                <div class="contact100-form-checkbox">
                                    <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                                    <label class="label-checkbox100" for="ckb1">
                                        Remember me
                                    </label>
                                </div>

                                <div>
                                    <a href="#" class="txt3">
                                        Forgot Password?
                                    </a>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Login" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    }
                    <div>
                        @{
                            if (errMsg != null)
                            {
                                <p class="text-danger">@errMsg</p>
                            }
                        }

                    </div>
                </div>

            </div>

        </div>

    </div>

    @Html.Partial("_Footer")

    <!-- Scripts -->

    <script src="~/Template/vendor/jquery/jquery.min.js"></script>
    <script src="~/Template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Template/assets/js/owl-carousel.js"></script>
    <script src="~/Template/assets/js/animation.js"></script>
    <script src="~/Template/assets/js/imagesloaded.js"></script>
    <script src="~/Template/assets/js/custom.js"></script>
    <script src="~/js/login-main.js"></script>


</body>