@model Homiee.Models.User

@{
    ViewBag.Title = "Profile";

    var userName = Model.UserFirstName.ToString() + " " + Model.UserLastName.ToString();
    Layout = null;

    var lastName = Model.UserLastName.ToString();
 
}



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Plot Listing HTML5 Website Template</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/Template/assets/css/fontawesome.css">
    <link rel="stylesheet" href="~/Template/assets/css/templatemo-plot-listing.css">
    <link rel="stylesheet" href="~/Template/assets/css/animated.css">
    <link rel="stylesheet" href="~/Template/assets/css/owl.css">

    <style>
        .card-design {
            padding: 20px;
        }

        .button-edit {
            width: 70px;
            height: 55px;
            margin-left: 400px;
        }

        .edit-mode-btn {
            margin-top: 20px;
        }

        .text-field {
            background: white;
        }

        .change-pic-btn {
            width: 240px;
            margin-top: 20px;
        }

        .pro-pic {
            width: 200px;
            height: 200px;
            display: inline;
            border-radius:40px;
        }

        .pro-pic-card {
            padding-bottom: 50px;
            padding-top: 50px;
        }
        .pro-pic-upload-form{

            visibility:hidden;
        }
    </style>

</head>

<body>




    @Html.Partial("_Preloader")
    @Html.Partial("_navbar")


    <div class="main-banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 ">
                    <div class="card pro-pic-card d-flex align-items-center justify-content-center">


                        <img class="pro-pic shadow-lg p-3 mb-5 bg-white" src="~/Content/profile.png" width="50%" height="50%" />

                        <button class="change-pic-btn btn btn-primary" id="changeProPicButton" onclick="ChangeProPic()">Change Profile Picture</button>

                        @using (Html.BeginForm("UploadProfileImage", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="mb-3">
                                <input name="UserProfilePicture" class="form-control picForm" type="file" id="UserProfilePicture" style="visibility:hidden">
                            </div>

                            <input class="form-control btn btn-primary picForm" type="submit" id="formSaveButton" value="Save" style="visibility:hidden">



                        }
                        <button style="visibility:hidden" class="picForm change-pic-btn btn btn-primary" id="formCancelButton" onclick="picFormCancel()">Cancel</button>


                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="card card-design">

                        @using (Html.BeginForm("Profile", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="UserFirstName">First Name</label>
                                    <input type="text" name="UserFirstName" id="UserFirstName" value="@(Model.UserFirstName)" class="form-control text-field" readonly="readonly" />
                                </div>

                                <div class="form-group">
                                    <label for="UserLastName">Last Name</label>
                                    <input type="text" name="UserLastName" id="UserLastName" value="@(Model.UserLastName)" class="form-control" readonly />
                                </div>

                                <div class="form-group">
                                    <label for="UserEmail">Email</label>
                                    <input type="text" name="UserEmail" id="UserEmail" value="@(Model.UserEmail)" class="form-control" readonly />
                                </div>

                                <div class="form-group">
                                    <label for="UserPhone">Phone</label>
                                    <input type="text" name="UserPhone" id="UserPhone" value="@(Model.UserPhone)" class="form-control" readonly />
                                </div>

                                <div class="form-group">
                                    <label for="AddressCountry">Country</label>
                                    <input type="text" name="AddressCountry" id="AddressCountry" value="@(Model.AddressCountry)" class="form-control" readonly />
                                </div>

                                <div class="form-group">
                                    <label for="AddressDivision">Division</label>
                                    <input type="text" name="AddressDivision" id="AddressDivision" value="@(Model.AddressDivision)" class="form-control" readonly />
                                </div>

                                <div class="form-group">
                                    <label for="AddressCity">City</label>
                                    <input type="text" name="AddressCity" id="AddressCity" value="@(Model.AddressCity)" class="form-control" readonly />
                                </div>

                                <div class="form-group">
                                    <label for="AddressArea">Area</label>
                                    <input type="text" name="AddressArea" id="AddressArea" value="@(Model.AddressArea)" class="form-control" readonly />
                                </div>
                                <div class="form-group">
                                    <label for="AddressExtension">Address Extension</label>
                                    <input type="text" name="AddressExtension" id="AddressExtension" value="@(Model.AddressExtension)" class="form-control" readonly />
                                </div>

                                <div class="form-group text-left edit-mode-btn">
                                    <input type="submit" class="btn btn-primary m-2" value="Save" onclick="SubmitButton();" id="submitButton" style="visibility:hidden" />
                                    <label class="btn btn-primary m-2" onclick="CancelButton()" style="visibility:hidden" id="cancelButton">Cancel</label>
                                </div>
                            </div>
                        }
                        <button class="button-edit btn btn-outline-primary" onclick="EditButton()" id="editButton"><img src="~/Content/edit.png" width="20px" height="20px" />Edit</button>
                    </div>

                </div>
            </div>



        </div>




        @Html.Partial("_Footer")


        <!-- Scripts -->

        <script type="text/javascript">


            var firstNameFiled = document.getElementById("UserFirstName");
            var lastNameFiled = document.getElementById("UserLastName");
            var emailFiled = document.getElementById("UserEmail");
            var phoneFiled = document.getElementById("UserPhone");
            var countryFiled = document.getElementById("AddressCountry");
            var divisionFiled = document.getElementById("AddressDivision");
            var cityFiled = document.getElementById("AddressCity");
            var area = document.getElementById("AddressArea");
            var addressExtension = document.getElementById("AddressExtension");
            var cancelButton = document.getElementById("cancelButton");
            var submitButton = document.getElementById("submitButton");
            var editButton = document.getElementById("editButton");
            var changeProPicButton = document.getElementById("changeProPicButton");
            var picForm = document.getElementsByClassName("picForm");
            var formCancelButton = document.getElementById("formCancelButton");
            var formSaveButton = document.getElementById("formSaveButton");
            var formFile = document.getElementById("UserProfilePicture");

            function picFormCancel() {
                formSaveButton.style.visibility = "hidden";
                formFile.style.visibility = "hidden";
                formCancelButton.style.visibility = "hidden";
                changeProPicButton.style.visibility = "visible";
                console.log("here changepropic v");
            }

            function ChangeProPic() {

                if (formSaveButton.style.visibility == "hidden") {
                    formSaveButton.style.visibility = "visible";
                    formFile.style.visibility = "visible";
                    formCancelButton.style.visibility = "visible";
                    changeProPicButton.style.visibility = "hidden";
                    console.log("here changepropic h");

                }
                else if (formSaveButton.style.visibility == "visible") {
                    formSaveButton.style.visibility = "hidden";
                    formFile.style.visibility = "hidden";
                    formCancelButton.style.visibility = "hidden";
                    console.log("here changepropic v");
                }


            }

            function EditButton() {

                if (submitButton.style.visibility == "hidden") {
                    submitButton.style.visibility = "visible";
                    cancelButton.style.visibility = "visible";
                    firstNameFiled.readOnly = false;
                    lastNameFiled.readOnly = false;
                    emailFiled.readOnly = false;
                    phoneFiled.readOnly = false;
                    countryFiled.readOnly = false;
                    divisionFiled.readOnly = false;
                    cityFiled.readOnly = false;
                    area.readOnly = false;
                    addressExtension.readOnly = false;


                }
                else {
                    submitButton.style.visibility = "hidden";
                    cancelButton.style.visibility = "hidden";
                    firstNameFiled.readOnly = true;
                    lastNameFiled.readOnly = true;
                    emailFiled.readOnly = true;
                    phoneFiled.readOnly = true;
                    countryFiled.readOnly = true;
                    divisionFiled.readOnly = true;
                    cityFiled.readOnly = true;
                    area.readOnly = true;
                    addressExtension.readOnly = true;
                }

                editButton.style.visibility = "hidden";


            }

            function SubmitButton() {

            }

            function CancelButton() {
                submitButton.style.visibility = "hidden";
                cancelButton.style.visibility = "hidden";
                firstNameFiled.readOnly = true;
                lastNameFiled.readOnly = true;
                emailFiled.readOnly = true;
                phoneFiled.readOnly = true;
                countryFiled.readOnly = true;
                divisionFiled.readOnly = true;
                cityFiled.readOnly = true;
                area.readOnly = true;
                addressExtension.readOnly = true;
                editButton.style.visibility = "visible";

            }


           




        </script>

        <script src="~/Template/vendor/jquery/jquery.min.js"></script>
        <script src="~/Template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/Template/assets/js/owl-carousel.js"></script>
        <script src="~/Template/assets/js/animation.js"></script>
        <script src="~/Template/assets/js/imagesloaded.js"></script>
        <script src="~/Template/assets/js/custom.js"></script>
    </div>

</body>